<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaderboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='tablesorter.js') }}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dashboard">Irishmon Go</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if userName %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ userName }} <b class="caret"></b></a>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> N/A <b class="caret"></b></a>
                    {% endif %}                    <ul class="dropdown-menu">
                        <li>
                            <a href="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="connections"><i class="fa fa-fw fa-handshake-o"></i> My Connections</a>
                    </li>
                    <li>
                        <a href="newConnection"><i class="fa fa-fw fa-user-plus"></i> New Connection</a>
                    </li>
                    <li>
                        <a href="suggestedFriends"><i class="fa fa-fw fa-users"></i> Suggested Friends</a>
                    </li>
                    <li>
                        <a href="missions"><i class="fa fa-fw fa-star"></i> My Missions</a>
                    </li>
                    <li>
                        <a href="leaderboard"><i class="fa fa-fw fa-trophy"></i> Leaderboard</a>
                    </li>
		    <li class="active">
		      <a href="connectionGraph"><i class="fa fa-fw fa-code-fork"></i> Connection Graph</a>
		    </li>
		    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper" height="1500", width="1500">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            My Connections
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Leaderboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
		<div id="graph" style="height: 1500px !important; width: 1500px">
		<div class="vis-network" tabindex="900" style="position: relative; overflow: hidden; touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);width: 100%; height: 100%;">
		  <canvas width="1500" height="1500" style="position: relative; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%; height: 100%;"></canvas>
		</div></div>
                <!-- CONTENT GOES HERE -->
		<script type="text/javascript">
		  var options = {}
		  var nodes = new vis.DataSet(options)
		  var edges = new vis.DataSet(options)
		  i = 0
		  {% for conn in c %}
		  if (i==0){
		  nodes.add({id: parseInt("{{ conn[0] }}"), label: "{{ conn[1] }}", color:"yellow"})
		  i = 1
		  } else {
		  nodes.add({id: parseInt("{{ conn[0] }}"), label: "{{ conn[1] }}", color:"blue"})
		  }
		  if (parseInt("{{ conn[3] }}") != 0) {
		  {% for edge in conn[2] %}
		  if (parseInt("{{ edge }}") != parseInt("{{ conn[0] }}")){
		  edges.add({from: parseInt("{{ edge }}"), to: parseInt("{{ conn[0] }}"), arrows:"to, from"})
		  }
		  {% endfor %}
		  }
		  {% endfor %}
		  var container = document.getElementById("graph")
		  var data = {nodes: nodes, edges: edges}
		  var network = new vis.Network(container, data, options)
		</script>
		
                {% if lb %}
                    <div class="row">
                    <div class="col-lg-6">
                        <h2>Leaderboard:</h2>
                        <div class="table-responsive">
                            <table id="table" class="table table-bordered table-hover table-striped tablesorter">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>netID</th>
                                        <th>Connections</th>
					<th>Missions Completed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in lb %}
                                        <tr>
                                            <td>{{ c[0] }}</td>
                                            <td>{{ c[1] }}</td>
                                            <td>{{ c[2] }}</td>
					    <td>{{ c[3] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
		    
                {% endif %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    
	<!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
