<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Connection</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dashboard">Irishmon Go</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if userName %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ userName }} <b class="caret"></b></a>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> N/A <b class="caret"></b></a>
                    {% endif %}
                    <ul class="dropdown-menu">
                        <li>
                            <a href="logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="connections"><i class="fa fa-fw fa-handshake-o"></i> My Connections</a>
                    </li>
                    <li class="active">
                        <a href="newConnection"><i class="fa fa-fw fa-user-plus"></i> New Connection</a>
                    </li>
                    <li>
                        <a href="suggestedFriends"><i class="fa fa-fw fa-users"></i> Suggested Friends</a>
                    </li>
                    <li>
                        <a href="missions"><i class="fa fa-fw fa-star"></i> My Missions</a>
                    </li>
                    <li>
                        <a href="leaderboard"><i class="fa fa-fw fa-trophy"></i> Leaderboard</a>
                    </li>
		    <li>
		      <a href="connectionGraph"><i class="fa fa-fw fa-code-fork"></i> Connection Graph</a>
		    </li>
		    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            New Connection
                            <small>Find a person and add them</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> New Connection
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- Form -->
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label>NetID to Search For:</label>
                                {% if didSearch and cUser %}
                                    <input class="form-control" name="netID" placeholder="netID" value={{cUser[0]}} style="margin-bottom: 10px;">
                                {% else %}
                                    <input class="form-control" name="netID" placeholder="netID" style="margin-bottom: 10px;">
                                {% endif %}
                                
                                <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="Search">Search</button>
                            </div>
                        </form>

                        <!-- Alert -->
                        {% if didCreate %}
                            <div class="alert alert-success" style="max-width:330px;margin: auto;">
                                <strong>Success!</strong> Connection Created
                            </div>
                        {% endif %}

                        {% if didSearch and not cUser %}
                            <div class="alert alert-danger" style="max-width:330px;margin: auto;">
                                <strong>Error!</strong> Invalid netID
                            </div>
                        {% endif %}

                        {% if alreadyExists %}
                            <div class="alert alert-danger" style="max-width:330px;margin: auto;">
                                <strong>Error!</strong> Connection Already Exists
                            </div>
                        {% endif %}

                    <!-- Search Results -->
                    {% if didSearch %}
                        {% if cUser %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>netID</th>
                                            <th>Name</th>
                                            <th>Department</th>
                                            <th>Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ cUser[0] }}</td>
                                            <td>{{ cUser[1] + ' ' + cUser[3] }}</td>
                                            <td>{{ cUser[4] }}</td>
                                            <td>{{ cUser[6] }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <form role="form" method="post">
                                <input type="hidden" name="netID" placeholder="netID" value={{cUser[0]}}>
                                <label>Middle Initial to Confirm Addition:</label>
                                <input name="middleInitial" id="middleInitial" placeholder="Middle Initial" style="margin-bottom: 10px;">
                                <button class="btn btn-lg btn-success btn-block" name="submit" type="submit" value="Create">Create Connection</button>
                            </form>
                            {% if didFailConfirm %}
                                <div class="alert alert-danger" style="max-width:330px;margin: auto; margin-top: 10px;">
                                    <strong>Error!</strong> Wrong Middle Initial
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <!-- /Search Results -->

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
