<!DOCTYPE html>
<html lang = "en">
<head>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      
      <title>Irishmon Go Login</title>

      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}">
      
      <!-- Bootstrap -->
      <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
      
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      
      <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      
</head>

<html>
  <body>
    <!-- Login Page -->
    <div class="container">
      <form role="form" id="formID" class="form-signin" method="post">
        <h2 class="form-signin-heading">Opt Out:</h2>
        
        <label for="inputNetID" class="sr-only">netID</label>
        <input type="text" name="login_id" id="inputNetID" class="form-control" placeholder="netID" required autofocus>
        
        <label for="pw" class="sr-only">Middle Name:</label>
        <input type="text" name="middleName" id="middleName" class="form-control" placeholder="Middle Name" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px;">Opt Out</button>
      </form>
    </div>
    {% if failedOptOut %}
    <div class="alert alert-danger" style="max-width:330px;margin: auto;">
      <strong>Error!</strong> Invalid netID or Incorrect Middle Name
    </div>
    {% endif %}
    {% if didOptOut %}
    <div class="alert alert-success" style="max-width:330px;margin: auto;">
      <strong>Done!</strong> You are now exempt from the game.
    </div>
    {% endif %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
